name: tests+pypi

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 13 * * 4'
  release:
    types: [published]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - uses: mpi4py/setup-mpi@v1
    - run: |
        pip install pylint
        pip install -e .[tests,CI_version_pins]
    - run: |
        pylint --ignored-modules=mpi4py --disable=fixme,duplicate-code $(git ls-files '*.py' | grep -v -e ^tests/paper_listings)

  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Linting
        run: |
          pip install pre-commit
          pre-commit clean
          pre-commit autoupdate
          pre-commit run --all-files

  pdoc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: mpi4py/setup-mpi@v1
      - name: Build
        run: |
          pip install pdoc
          pip install -e .[CI_version_pins]
          PDOC_ALLOW_EXEC=1 python -We -m pdoc -o html numba_mpi
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          BRANCH: pdoc
          FOLDER: html
          CLEAN: true

  zenodo_json:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: notiz-dev/github-action-json-property@release
        with:
          path: '.zenodo.json'
          prop_path: 'creators'

  build:
    needs: [pylint, precommit, pdoc, zenodo_json]
    strategy:
      matrix:
        mpi-np: [2, 3]
        platform:
          - ubuntu-latest
          - windows-latest
          - macos-15-intel    # arch: Intel
          - macos-15          # arch: arm64
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        mpi: [ 'mpich', 'openmpi', 'msmpi', 'intelmpi']
        exclude:
        - platform: macos-15-intel
          mpi: msmpi
        - platform: macos-15-intel
          mpi: intelmpi
        - platform: macos-15
          mpi: msmpi
        - platform: macos-15
          mpi: intelmpi
        - platform: macos-15-intel   # TODO: # 163
          mpi: openmpi
        - platform: ubuntu-latest
          mpi: msmpi
        - platform: ubuntu-latest # TODO: #162
          mpi: mpich
        - platform: windows-latest
          mpi: mpich
        - platform: windows-latest
          mpi: openmpi
        - platform: windows-latest
          mpi: intelmpi
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: mpi4py/setup-mpi@v1
        with:
          mpi: ${{ matrix.mpi }}
      - if: startsWith(matrix.platform, 'macos-')
        run: echo DYLD_FALLBACK_LIBRARY_PATH="/opt/homebrew/lib:/usr/local/lib:/usr/lib:$DYLD_FALLBACK_LIBRARY_PATH" >> $GITHUB_ENV
      - if: matrix.mpi == 'intelmpi'
        run: |
          # checking if multiple MPI libs are OK
          sudo apt-get install mpi-default-bin
          mpiexec python -c "import os; assert 'I_MPI_ROOT' in os.environ"
      - run: pip install -e .[tests,CI_version_pins]
      - run: python -We -c "import mpi4py"
      - run: python -We -c "import numba_mpi"
      - run: mpiexec -n ${{ matrix.mpi-np }} pytest --durations=10 -p no:unraisableexception -We

  dist:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: mpi4py/setup-mpi@v1
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # https://github.com/pypa/setuptools_scm/issues/480
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - run: pip install twine build

      - run: |
          unset CI
          python -m build 2>&1 | tee build.log
          exit `fgrep -i warning build.log | grep -v "tool.setuptools_scm" | wc -l`

      - run: twine check --strict dist/*

      - run: |
          pip install --find-links file:./dist numba-mpi
          cd /tmp  # make sure local files are not picked up
          python -We -c "import numba_mpi"

      - if: |-
          ${{
            github.repository == 'numba-mpi/numba-mpi' &&
            github.event_name == 'push' &&
            github.ref == 'refs/heads/main'
          }}
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          attestations: false
          repository_url: https://test.pypi.org/legacy/

      - if: |-
          ${{
            github.repository == 'numba-mpi/numba-mpi' &&
            startsWith(github.ref, 'refs/tags')
          }}
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          attestations: false
